
*.v2
/.vs
/Ex.1/CurrencyApp.API/bin
/Ex.1/CurrencyApp.API/obj
/Ex.1/CurrencyApp.Model/bin
/Ex.1/CurrencyApp.Model/obj
/Ex.1/CurrencyApp.Presenter/bin
/Ex.1/CurrencyApp.Presenter/obj
/Ex.1/CurrencyApp.UI/bin
/Ex.2/FileAnalyzer.Presenter/obj
/Ex.2/FileAnalyzer.UI/obj
/Ex.2/FileAnalzyer.Model/obj
/Ex.2/FileAnalyzer.Presenter/bin
/Ex.2/FileAnalyzer.UI/bin
/Ex.2/FileAnalzyer.Model/bin
/Ex.3/ToDoList.Data/bin
/Ex.3/ToDoList.Data/obj
/Ex.3/ToDoList.Model/bin
/Ex.3/ToDoList.Model/obj
/Ex.3/ToDoList.Presenter/bin
/Ex.3/ToDoList.Presenter/obj
/Ex.3/ToDoList.UI/bin
/Ex.3/ToDoList.UI/obj
/Ex.1/CurrencyApp.UI/obj
